$colorDegrade: red;
$back-color-box: #ff0;
$color-font: green;
$body-color: gray;

body {
  margin: 0;
  background-color: $body-color;
}

header {
}
header__img {
}
section__container {
}
section__container404 {
}
text {
}
section__container__h3 {
}
footer {
}
footer__p {
}
footer__p {
}
footer__p {
}

.section__container404 {
  width: 20%;
  height: 120px;
  float: left;
  background: $back-color-box;
  border: 1px solid $colorDegrade;
  overflow: hidden;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.text {
  text-align: center;
  margin-top: 10px;
  color: $color-font;
  font-size: 5em;
  font-family: sans-serif;
  text-transform: uppercase;
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}
.wobble {
  animation-name: wobble;
}
